:root {
  --white: #fff;
  --black: #000000;
  --grey: #9b9b9b;
  --lightGrey: rgba(155, 155, 155, 0.3);
  --primaryText: #2c2b2b;
  --secondaryText: var(--grey);
  --green: #66cc66;
  --lightGreen: rgba(102, 204, 102, 0.3);
  --pink: #ffa9d3;
  --svg: #d2d2d2;

  /* styling */
  --padding: 15px;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: var(--grey);
}

a {
  text-decoration: none;
  color: var(--pink);
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Mono', sans-serif;
  text-align: center;
  font-weight: 300;
  color: var(--primaryText);
}
